* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
.background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #fff;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.header {
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}
nav img {
  width: 100px;
}
.navlinks {
  flex: 1;
  text-align: right;
}
.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 0.5em 0.75em;
  position: relative;
}
.navlinks ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.navlinks ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navlinks ul li:hover::after {
  width: 100%;
}
nav .fas {
  display: none;
}

/*courses*/
.about {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: rgb(99, 96, 96);
}
p {
  color: rgb(99, 96, 96);
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 0.675em;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.about-col {
  background: #fff;
  border-radius: 8px;
  padding: 1.125em 0.75em;
  box-sizing: border-box;
  margin-right: 10px;
}
.about-col img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: cover;
}
/*footer*/
#footers {
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}
#footers p {
  color: #fff;
}
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 768px) {
  .text-box h1 {
    font-size: 1.125rem;
  }
  .navlinks ul li {
    display: block;
  }
  .navlinks {
    position: absolute;
    background: #ff4436;
    height: 100vh;
    width: 65%;
    top: 0;
    right: -200%;
    text-align: left;
    z-index: 2;
    transition: 0.8s;
  }
  nav .fas {
    display: block;
    color: #fff;
    margin: 0.625em;
    font-size: 1.375rem;
    cursor: pointer;
  }
  .navlinks ul {
    padding: 1.875em;
  }
  .row {
    flex-direction: column;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
}
